@import "tailwindcss";

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

p, span, a, li, button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

:root {
  --color-primary: #fec34f;
  --color-base: #ececde;
  --color-neutral: #0d0c1d;
  --color-green: #057683;
  --color-orange: #605045;
  --color-blue: #137abd;
  --color-red: #a5272a;
  --color-astronaut: #2cab69FF;
  --font-family-base: "Inter", Arial, sans-serif;
  --font-size-base: 16px;
  --border-radius-base: 0.5rem;
  --spacing-base: 1rem;
}
