@import "tailwindcss";

/* Register your custom font family and tell the browser where to find it. */
@font-face {
  font-family: 'Graphik-Bold-Trial';
  src: url('/fonts/Graphik-Bold-Trial.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Graphik-Regular-Trial';
  src: url('/fonts/Graphik-Regular-Trial.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Graphik-Bold-Trial', sans-serif;
}

p, span, a, li, button {
  font-family: 'Graphik-Regular-Trial', sans-serif;
}

:root {
  --color-primary: #fec34f;
  --color-base: #ececde;
  --color-neutral: #0d0c1d;
  --color-green: #057683;
  --color-orange: #605045;
  --color-blue: #137abd;
  --color-red: #a5272a;
  --color-astronaut: #2cab69FF;
  --font-family-base: "Inter", Arial, sans-serif;
  --font-size-base: 16px;
  --border-radius-base: 0.5rem;
  --spacing-base: 1rem;
}
