---
import Disclaimer from "./Disclaimer.astro";
import Card from "./Card.astro";
import desert from "../assets/desert.webp";
import python from "../assets/python.webp";
import Considerations from "./Considerations.astro";
import Schools from "./Schools.astro";

import Huara from "../assets/colegios/liceo-huara.svg";
import Alcalde from "../assets/colegios/liceo-alcalde.webp";
import Metodista from "../assets/colegios/liceo-metodista.webp";
import Dsm from "../assets/colegios/liceo-dsm.webp";
import Luis from "../assets/colegios/liceo-luis-cruz-martinez.webp";
import Ingles from "../assets/colegios/colegio-ingles.webp";
import Mamina from "../assets/colegios/colegio-mamina.webp";

const courses = [
  {
    title: "Fundamentos de programación básica con Python",
    image: python.src,
    subtitle: "Para estudiantes de enseñanza media",
    description:
      "Sumérgete en el mundo de la lógica y la resolución de problemas con Python. En este taller, aprenderás a dar tus primeros pasos en la programación, creando desde algoritmos simples hasta tus primeros programas funcionales.",
    items: [
      "🧩 Pensamiento lógico y computacional",
      "💻 Introducción a la sintaxis de Python",
      "🔍 Proyecto práctico para aprender haciendo",
    ],
  },
  {
    title: "Desafíos con Scratch y Code.org",
    image: desert.src,
    subtitle: "Para estudiantes de educación básica",
    description:
      "Explora la magia de la programación creando tus propios videojuegos con Scratch y Code.org. Aprende a programar historias, personajes y desafíos inspirados en la región, dando vida a un mundo donde tú eres el creador.",
    items: [
      "🏜️ Inspirados en la región",
      "🐾 Personajes y retos diseñados por ti",
      "🔧 Aprende programación visual de forma lúdica",
    ],
  },
];

const schoolsWorkshop = [
  {
    name: "Escuela Básica Mamiña",
    comuna: "Pozo Almonte",
    image: Mamina,
  },
];

const schoolsModule = [
  {
    name: "Liceo de Huara",
    comuna: "Huara",
    image: Huara,
  },
  {
    name: "Liceo Alcalde Sergio González",
    comuna: "Pozo Almonte",
    image: Alcalde,
  },
  {
    name: "Colegio Metodista Robert Johnson",
    comuna: "Alto Hospicio",
    image: Metodista,
  },
  {
    name: "Liceo Bicentenario Domingo Santa María (Anexo)",
    comuna: "Alto Hospicio",
    image: Dsm,
  },
  {
    name: "Liceo Luis Cruz Martínez",
    comuna: "Iquique",
    image: Luis,
  },
  {
    name: "Colegio Inglés",
    comuna: "Iquique",
    image: Ingles,
  },
];
---

<section
  class="text-[var(--color-base)] relative container mx-auto max-w-6xl mt-20 lg:mt-40 px-4 flex flex-col items-center justify-center"
>
  <div
    class="flex flex-col lg:flex-row flex-wrap justify-center gap-6 lg:gap-10 items-center mt-8"
  >
    <Card course={courses[0]} />
    <Considerations title="El módulo considera" cardOne="20 horas pedagógicas" cardTwo="Clases en laboratorios" cardThree="Certificado de competencias adquiridas" />
    <Schools schools={schoolsModule} />
  </div>
  <div
    class="flex flex-col lg:flex-row flex-wrap justify-center gap-6 lg:gap-10 items-center mt-40"
  >
    <Card course={courses[1]} />
    <Considerations title="Los talleres consideran" cardOne="2 horas pedagógicas por taller" cardTwo="Clases en laboratorios" cardThree="Certificación de competencias adquiridas" />
    <Schools schools={schoolsWorkshop} />
  </div>
  <Disclaimer />
  <div
    aria-hidden="true"
    class="absolute inset-x-0 top-0 transform-gpu -z-10 overflow-hidden blur-3xl"
  >
    <div
      style="clip-path: ellipse();"
      class="relative left-[50%] aspect-square w-200 -translate-x-1/2 bg-linear-to-tr from-[var(--color-primary)] to-[var(--color-primary)] opacity-10"
    >
    </div>
  </div>
</section>
