---
import logoCC from '../assets/cerro-colorado.png';
import logoDL from '../assets/dl.png';
import logoCD from '../assets/logo.svg';
import Logo from "./Logo.astro";
---

<footer class="text-[var(--color-base)] h-32 justify-between my-10 p-4 flex flex-col md:flex-row items-start lg:items-center container mx-auto max-w-6xl">
    <div class="flex flex-col md:flex-row items-start gap-6 lg:gap-20 mb-8 md:mb-0">
    <Logo logo={logoCC} alt="Cerro Colorado" title="Presenta" style="pt-1" />
    <Logo logo={logoDL} alt="Desafio Latam" title="Colabora" />
    </div>
    <Logo logo={logoCD} alt="Cerro Digital" />
</footer>