---
import logo from "../assets/logo.svg";
import background from "../assets/hero-bg.avif";
import logoCC from "../assets/cerro-colorado.png";
import Button from "./Button.astro";
import Logo from "./Logo.astro";

---

<header class="bg-[var(--color-neutral)] relative h-[600px] header overflow-hidden" tabindex="-1" role="banner">
  <img
    src={logo.src}
    alt="Imagotipo de Cerro Digital"
    class="relative z-20 pt-10 pl-6 mx-auto"
  />
  <div
    class="space-y-4 mt-8 px-4 max-w-[700px] flex flex-col items-center container mx-auto text-[var(--color-base)]"
  >
    <h1 class="text-4xl lg:text-5xl relative z-20 text-center lg:px-10 font-bold">
      Desde lo alto del cerro asoma el mañana…
    </h1>
    <h2 class="relative z-20 text-center px-2 lg:px-6 text-lg lg:text-xl text-pretty">
      Del desierto al cielo: una invitación a aprender y reprogramar el futuro.
    </h2>
    <Button title="COMENZAR LA MISIÓN" url="https://cerrodigital.desafiolatam.com/" />
	<Logo logo={logoCC} alt="Cerro Colorado" title="Presenta" parentStyle="mt-4 hidden sm:inline-block" />
  </div>
  <svg
    data-name="Layer 1"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 1200 120"
    preserveAspectRatio="none"
    class="absolute bottom-0 z-20 md:w-full h-[100px] w-[1280px]"
  >
    <path
      d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z"
      class="fill-[var(--color-neutral)]"></path>
  </svg>
  <img
    src={background.src}
    alt="Fondo de Hero"
    class="absolute object-[15%_85%] lg:object-[85%_15%] xl:object-[50%_50%] top-0 w-full h-[600px] object-cover hero-mask"
  />
</header>

<style>
  .hero-mask {
    mask-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 20%,
      rgba(0, 0, 0, 1) 70%
    );
    -webkit-mask-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 20%,
      rgba(0, 0, 0, 1) 70%
    );
  }
  .header {
    color: var(--color-base);
  }
</style>
