---
import "../styles/global.css"
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Cerro Digital - Tarapacá</title>
		<meta name="description" content="Impulsamos el futuro de jóvenes de Tarapacá con talleres de programación, creatividad digital y pensamiento computacional." />
		<meta name="keywords" content="Cerro Digital, Tarapacá, aprendizaje digital, exploración digital, educación, tecnología" />
		<meta name="author" content="Cerro Digital" />
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		background-color: var(--color-neutral);
	}
</style>
